@import "mixins.less";
@import "normalize.less";

/* Variables */
@green: #8FB693;
@btnGreen: #729871;
/* End Variables */

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  background: white;
  overflow: hidden;
}
h1 {
	font-weight: 300;
}
pre {
  background: #ddd;
  white-space: normal;
  word-break: break-all;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: url("http://foliotek.github.io/images/home-bg.jpg");
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.sidebar {
  background: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 300px;
  border-right: 2px solid @green;
  z-index: 1;
  .transform(translateX(-100%));
  .transition(transform .3s linear);

  .sidebar-inner {
  	max-height: 100%;
  	overflow-y: auto;
    padding: 15px;
    position: relative;
  }
  &.right {
    left: auto;
    right: 0;
    .transform(translateX(100%));
    border-right: 0;
    border-left: 2px solid @green;
  }

  .sidebar-handle {
    cursor: pointer;
    background: none repeat scroll 0% 0% #FFF;
    border: 2px solid @green;
    border-top: 0;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 40px;
    right: -78px;
    text-align: center;
    line-height: 40px;
    .transform(rotate(-90deg));
  	color: #444444;
  	text-transform: uppercase;
  }
}

body.open .sidebar.main {
  transform: translateX(0);
}
body.advanced .sidebar.advanced {
  transform: translateX(0);
}

#form {
	height: 100%;
}
#custom-field-holder {
	padding-bottom: 125px;
}
.custom-field-header {
  margin: 15px 0 5px 0;
  text-align: center;
}

.form-actions {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: white;
	border-top: 2px solid @green;

	.btn-group{
		font-size: 0;
		line-height: 1;
		white-space: nowrap;
		display: inline;
		height:30px;
	
		button {
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			background: @btnGreen;
			border: 0;
			margin-right: 2px;
			display: inline-block;
			padding: .8em 1.25em;
			color: white;
			outline: none;
      .transition(all .3s linear);
			cursor: pointer;
			width:25%;

			&:last-child {
				margin-right: 0;
			}
			&:hover {
        background: #86BA8B;
        color: #3F7D3E;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
			}
		}
	}
}

.form-field {
	margin-bottom: 7px;

	label {
	    display: inline;
	    font-size: 10px;
	    font-weight: 600;
	    color: #777;
	    text-transform: uppercase;
        &.custom-field {
            cursor: pointer;
        }
	}

	input[type='text'] {
	    width: 95%;
	    border: 1px solid rgb(187, 187, 187);
	    font-size: 14px;
	    font-family: sans-serif;
	    padding: 5px;
		  outline: none;

		&:focus {
			outline: 0;
		}
    &.custom-field {
        margin-bottom: 10px;
    }
    &.custom-value {
        width: 85%;
    }
	}
  .input-group {
      font-size: 0;
      line-height: 1;
      white-space: nowrap;
      display: inline;
      button.btn-remove {
      background: #bbb;
      border: 0 none;
      color: white;
      outline: none;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      cursor: pointer;
      width: 10%;
      height: 28px;
      vertical-align: top;
          &:hover {
              background:  #999;
              color: #444;
          }
      }
  }
  
  i.fa-edit {
      cursor: pointer;
      color: #777;
  }
  &.custom {
    padding-bottom: 10px;
  }
}

#LaunchFrame {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	border: 0;
	opacity: 0;

	.transition(opacity .2s linear);

	&.loaded {
		opacity: 1;
	}
}

#intro {
	width: 550px;
	margin: 0 auto;
	text-align: center;
    padding-top: 10%;
	font-size: 1.4em;
	font-weight: 300;
}

.debug-field{
	strong{
		color: #444444;
	}
}

.hide {
	display: none;
}

#btn-advanced {
    position: absolute;
    top: 0px;
    font-size: 22px;
    border: 0px none;
    background: none repeat scroll 0% 0% transparent;
    right: 10px;
}

