@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600";
@import "mixins.less";
@import "normalize.less";

/* Variables */
@green: #8FB693;
@btnGreen: #729871;
@openSans: "Open Sans", sans-serif;
@blue: rgb(109, 187, 224);
/* End Variables */

.clearfix {
  &:before,&:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: @openSans;
  font-weight: 300;
  background: white;
  overflow: hidden;
}
button,
input {
  font-family: @openSans;
}
button {
  font-weight: 300;
}
input {
  color: #555555;
}

/* Main Page */
h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
}
section.intro {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  font-size: 1.4em;
  font-weight: 300;
}
.hero-btn {
  color: white;
  border-radius: 5px;
  font-size: 26px;
  padding: 10px 15px;
  background: @blue;
  font-weight: 300;
  border: 2px solid white;
  cursor: pointer;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url("http://foliotek.github.io/images/home-bg.jpg");
  background-size: cover;
  background-position: top center;
  z-index: -1;
}
/* End Main Page */
/* Sidebar */
.sidebar {
  background: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 300px;
  border-right: 2px solid @blue;
  z-index: 1;
  .transform(translateX(-100%));
  .transition(transform .3s linear);

  .sidebar-inner {
    max-height: 100%;
    overflow-y: auto;
    padding: 15px;
    position: relative;
  }

  &.right {
    left: auto;
    right: 0;
    border-right: 0;
    border-left: 2px solid @blue;
    .transform(translateX(100%));
  }

  .sidebar-handle {
    width: 85px;
    height: 400px;
    position: absolute;
    top: 15px;
    right: -85px;
    text-align: center;
  }

  .sidebar-handle .fa-lg {
    font-size: 2.5em;
  }

  .sidebar-handle button {
    background: rgba(255, 255, 255, 0.7);
    border: 0;
    color: #6dbbe0;
    outline: none;
    cursor: pointer;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    margin-bottom: 10px;
    border: 2px solid #6dbbe0;
    .transition(~"color .3s linear, backgroundColor .3s linear");

    &:hover,
    &.active {
      background: #6dbbe0;
      color: white;
      text-shadow: 1px 1px 0px rgba(100, 100, 100, 0.5);
    }
  }
  .sidebar-handle .secondary-btn {
    .transition(transform .1s linear);
    .transform(translateX(-100px));

    &:nth-child(2) {
      .transitionDelay(.3s);
    }
    &:nth-child(3) {
      .transitionDelay(.4s);
    }
    &:nth-child(4) {
      .transitionDelay(.5s);
    }
    &:nth-child(5) {
      .transitionDelay(.6s);
    }
  }
}
body.open {
  .sidebar.main {
    transform: translateX(0);
  }
  .sidebar-handle .secondary-btn {
    .transform(translateX(0px));
  }
}
body.advanced .sidebar.advanced {
  transform: translateX(0);
}
.sh-inner {
  position: relative;
  overflow: hidden;
}
/* End Sidebar */

/* Form Stuff */
#form {
  height: 100%;
}
#custom-field-holder {
  padding-bottom: 25px;
}
.custom-field-header {
  margin: 15px 0 5px 0;
  text-align: center;
}

.form-field {
  margin-bottom: 7px;

  label {
    display: inline;
    font-size: 10px;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    &.custom-field {
        cursor: pointer;
    }
  }

  input[type='text'] {
    width: 95%;
    border: 1px solid rgb(187, 187, 187);
    font-size: 14px;
    padding: 5px;
    outline: none;

    &:focus {
      outline: 0;
    }
    &.custom-field {
        margin-bottom: 10px;
    }
  }
  
  i.fa-edit {
      cursor: pointer;
      color: #777;
  }
  &.custom {
    padding-bottom: 10px;
  }
}
/* End Form Stuff */

#LaunchFrame {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  border: 0;
  opacity: 0;

  .transition(opacity .2s linear);

  &.loaded {
    opacity: 1;
    background: white;
  }
}
.debug-field strong {
  color: #444;
  font-weight: 600;
  font-size: 14px;
}
pre {
  background: #eaeaea;
  color: #333;
  white-space: normal;
  word-break: break-all;
  margin: 5px 0 10px 0;
}
.hide {
  display: none;
}


/* Experimental remove button */
.form-field.custom {

  .input-group {
      font-size: 0;
      line-height: 1;
      white-space: nowrap;
      display: inline;

      button.btn-remove {
        background: @blue;
        border: 2px solid @blue;
        color: white;
        outline: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        vertical-align: top;
        opacity: 0;
        z-index: -1;
        .transition(all .3s ease 0s);

        &:hover {
          background:  white;
          color: @blue;
        }
      }
  }

  &.set {
    .custom-value {
      width: 85%;
    }
    button.btn-remove {
      opacity: 1;
      z-index: 1;
    }
  }
/*
  .input-wrap {
    width: 80%;
    float: left;
  }

  .btn-wrap {
    float: left;
    height: 80%;
    margin-top: 10%;
    margin-left: 10px;
    border-left: 2px solid @blue;

    button {
      background: none;
      border: 0;
      font-size: 20px;
      color: @blue;
      outline: 0;
    }
  }
  */
}